#Remaing
{
    background-color: rgb(89, 235, 140);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#Budget
{
    background-color: rgb(177, 203, 253);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#Spent
{
    background-color: rgb(244, 37, 37);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mt-3
{
    font-family:'Times New Roman', Times, serif
}
#all
{
    text-align: center;
}
